/* CustomerList.css */

/* Base styling for the display area */
.Display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: auto;
    margin: 0;
    padding: 30px;
    
    overflow: auto; /* Add scrolling to the entire container */
  }
  
  /* Container for the sticky heading */
  .sticky-heading {
    position: sticky;
    top: 0; /* Stick to the top */
    background: white; /* Set a background to overlap content */
    z-index: 10; /* Ensure it's above other content */
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  /* Style the table */
  table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 100px;
    table-layout: auto;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
    position: sticky;
    top: 0; /* Adjust this value if necessary */
  }
  
  /* Overflow scrolling for table */
  .Display > table {
    max-height: 400px;
    overflow-y: auto;
  }
  .Display button{
    margin-left: 5px;
  }

  
  /* Rest of your CSS... */
  /* Style the form for adding new users */
.NewUserForm {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align the form items */
    width: 100%; /* Use full width to accommodate inner grid */
    padding: 20px;
    margin-top: 10px; /* Spacing from the table or any preceding content */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Optional: adds shadow for depth */
    background-color: #fff; /* Background color for the form */
  }
  
  .NewUserForm h2 {
    margin-bottom: 10px; /* Spacing between the title and the form fields */
  }
  
  .NewUserForm div {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns of equal width */
    gap: 10px; /* Spacing between grid items */
    width: 60%; /* Adjust based on preference */
  }
  
  .NewUserForm input[type="text"],
  .NewUserForm input[type="email"],
  .NewUserForm input[type="password"],
  .NewUserForm input[type="submit"] {
    padding: 10px; /* Padding inside the input fields for aesthetics */
    border: 1px solid #ddd; /* Light border for the inputs */
    border-radius: 4px; /* Slightly rounded corners */
    width: 100%; /* Make input occupy full width of the grid column */
  }
  
  .NewUserForm input[type="submit"] {
    cursor: pointer; /* Change cursor to pointer when hovering over submit */
    background-color: #007bff; /* Example: Bootstrap primary button color */
    color: white; /* Text color */
    border-color: #007bff; /* Border color */
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .NewUserForm div {
      grid-template-columns: 1fr; /* Stack inputs in one column on smaller screens */
    }
  
    .NewUserForm {
      width: 90%; /* Increase width for smaller screens to utilize space */
    }
  }
  
  