/* CustomerList.css */

.Display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: auto;
    margin: 10px;
    padding-right:20px;
    padding-left:5px; 
    overflow: auto; 
  }

  h1 {
    text-align: center;
  }
  
  .SearchBar {
    margin-top: 20px;
    text-align: center;
    border-radius:30px;
    border:5px black;
  }
  
  .SearchBar input {
    width: 500%; /* Setting the input take up the full width of its container */
    padding: 8px; /* Adding padding for better aesthetics */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    border-radius: 5px;
  }
  /* Container for the sticky heading */
  .sticky-heading {
    position: sticky;
    top: 0; /* Stick to the top */
    background: white; /* Setting a background to overlap content */
    z-index: 10; /* Ensuring  it's above other content */
  }
  
  h1 {
    margin-bottom: 10px;
  }
  
  /* Style the table */
  table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 80px;
    table-layout: auto;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    white-space: nowrap;
  }
  
  th {
    background-color: #f2f2f2;
    position: sticky;
    top: 0; 
  }
  
  /* Overflow scrolling for table */
  .Display > table {
    max-height: 400px;
    overflow-y: auto;
  }
  .TableData button{
    margin-left: 5px;
    display: inline;

  }
/* CSS of NewUserForm */
.NewUserForm {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align the form items */
    width: 100%; /* full width to accommodate inner grid */
    padding: 20px;
    margin-top: 10px; /* Spacing from the table or any preceding content */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
    background-color: #fff; 
  }
  
  .NewUserForm h2 {
    margin-bottom: 10px; /* Spacing between the title and the form fields */
  }
  
  .NewUserForm div {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns of equal width */
    gap: 10px; 
    width: 60%; 
  }
  
  .NewUserForm input[type="text"],
  .NewUserForm input[type="email"],
  .NewUserForm input[type="password"],
  .NewUserForm input[type="submit"] {
    padding: 10px; 
    border: 1px solid #ddd; 
    border-radius: 4px; /* Slightly rounded corners */
    width: 100%; 
  }
  
  .NewUserForm input[type="submit"] {
    cursor: pointer; 
    background-color: #007bff; 
    color: white; 
    border-color: #007bff; 
  }
  
  /* Media Query for Responsive adjustments */
  @media (max-width: 768px) {
    .NewUserForm div {
      grid-template-columns: 1fr; 
    }
  
    .NewUserForm {
      width: 90%; 
    }
  }
  
  